/* cv-style.css */

/* General Styles */
body {
  font-family: Georgia,Regular;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header img {
  margin-right: 20px;
  width: 250px;
  height: 250px;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

header p {
  margin: 5px 0;
  font-size: 16px;
}

header a {
  color: #fff;
  text-decoration: none;
}

/* Section Styles */
section {
  margin-bottom: 30px;
}

h3 {
  color: #333;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* Footer Styles */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}