body {
    background-color: #9caf88;
    color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #D9D9D9;
    padding: 18px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #4a5d4d;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #9caf88;
}

footer {
    background-color: #D9D9D9;
    color: #4a5d4d;
    text-align: center;
    padding: 10px 0;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 22px;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 90dvh; 
}

.home img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    max-width: 950px;
    height: auto;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.content h1 {
    font-family: 'Finger Paint', sans-serif;
    font-size: 110px;
    color: #D9D9D9;
    max-width: 950px;
    height: auto;
}
.content{
	    padding: 70px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    max-width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #D9D9D9;
    color: #4a5d4d;
}
.fa-envelope {
    background: #D9D9D9;
    color: #4a5d4d;
}
.container{
	background-color: #fff;
}
section h2 {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 10px;
    border-bottom: 3px solid #4a5d4d;
    color: #4a5d4d;
}

.about-me p,
.project p,
.education p,
.courses p,
.languages p,
.skills ul,
.contact label {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    color: #667f6a;
}

.languages span{
	font-family: 'IBM Plex Sans Arabic';
	font-weight: 500;
  font-style: normal;
}
.education p1 ,
.project p2 ,
.courses p3 ,p4 {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    color: #4a5d4d;
}

.skills ul {
    padding-left: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9caf88;
}

.contact button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4a5d4d;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .home {
        height: auto;
        width: auto;
    }
    .content h1 {
        font-size: 2em;
    }

    .container {
        padding: 1rem;
    }
    .fa {
        font-size: 18px;
        max-width: 500px;
    }
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.ttf') format("truetype");
    font-display: swap;
}
