:root {
    --background-color: #9caf88;
    --text-color: #D9D9D9;
    --nav-bg-color: #D9D9D9;
    --nav-text-color: #4a5d4d;
    --footer-bg-color: #D9D9D9;
    --footer-text-color: #4a5d4d;
    --button-bg-color: #4a5d4d;
    --button-text-color: #ffffff;
    --input-bg-color: #9caf88;
}
html {
    scroll-behavior: smooth;
}

[data-theme="dark"] {
    --background-color: #2e3b32;
    --text-color: #f0f0f0;
    --nav-bg-color: #435649;
    --nav-text-color: #d3d3d3;
    --footer-bg-color: #435649;
    --footer-text-color: #d3d3d3;
    --button-bg-color: #d3d3d3;
    --button-text-color: #2e3b32;
    --input-bg-color: #3e4e42;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 18px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    color: var(--nav-text-color);

}

.nav-links a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #9caf88;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px 0;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 22px;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 95dvh; 
}

img {
    width: 50%;
    height: auto;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.content{
	    padding: 50px;
}

.content h1 {
    font-family: 'Finger Paint', sans-serif;
    font-size: 90px;
    color: #D9D9D9;
}

.fa {
	  padding-top: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px 2px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin, .fa-envelope {
    background: #D9D9D9;
    color: #4a5d4d;
}

.container{
	background-color: #fff;
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	padding: 5rem;
}
section h2 {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 10px;
    border-bottom: 3px solid #4a5d4d;
    color: #4a5d4d;
}

.about-me p,
.experience p,
.education p,
.courses p,
.languages p,
.skills ul,
.contact label {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    color: #667f6a;
}

.languages span{
	font-family: 'IBM Plex Sans Arabic';
	font-weight: 500;
  font-style: normal;
}
.education p1 ,
.experience p2 ,
.courses p3 ,p4 {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    color: #4a5d4d;
}

.skills ul {
    padding-left: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-bg-color);
}

.contact button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
    .content{
    	padding: 20px;
    }
    .content h1 {
     font-size: 30px;
     }

    .fa {
        font-size: 10px;
        width: 20px;     
        height: 20px;   
    }
   
    .container {
        padding: 1rem;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.ttf') format("truetype");
    font-display: swap;
}
